* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.circle {
  margin: 30px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #eeeec2;
  border: 3px solid #121242;
  position: relative;
  -webkit-box-shadow: 0 0 10px 2px black;
          box-shadow: 0 0 10px 2px black;
  overflow: hidden;
  background-color: #041c31;
  z-index: -5;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle img.cloud {
  visibility: hidden;
}

.arrow {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 1;
}

.arrow-s {
  height: 150px;
  width: 6px;
  background-color: black;
  border: none;
  position: absolute;
  left: 119px;
  top: 2px;
  -webkit-transform-origin: 3px 120px;
          transform-origin: 3px 120px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.arrow-m {
  height: 119.255px;
  width: 10px;
  background-color: rgba(165, 42, 42, 0.9);
  border: none;
  position: absolute;
  left: 117px;
  top: 18.3px;
  -webkit-transform-origin: 5px 103.7px;
          transform-origin: 5px 103.7px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.arrow-h {
  height: 87.23px;
  width: 10px;
  background-color: #3f0707;
  border: none;
  position: absolute;
  left: 117px;
  top: 42.7px;
  -webkit-transform-origin: 5px 79.3px;
          transform-origin: 5px 79.3px;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.9);
  z-index: 998;
}

.number {
  border-radius: 50%;
  position: absolute;
  z-index: 997;
}

.number.lg {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  left: 112px;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  margin-top: 4px;
  -webkit-transform-origin: 10px 118px;
          transform-origin: 10px 118px;
}

.number.lg span {
  font-weight: bold;
}

.number.sm {
  border-radius: 30%;
  width: 7.5px;
  height: 7.5px;
  background-color: rgba(63, 7, 7, 0.7);
  left: 118.25px;
  margin-top: 1.5px;
  -webkit-transform-origin: 3.75px 120.5px;
          transform-origin: 3.75px 120.5px;
  -webkit-box-shadow: 0 0 8px 1px black;
          box-shadow: 0 0 8px 1px black;
}

.number.deg30 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.number.deg60 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.number.deg90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.number.deg90 span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
}

.number.deg120 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.number.deg150 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.number.deg180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.number.deg180 span {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: inline-block;
}

.number.deg210 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.number.deg240 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.number.deg270 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.number.deg270 span {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  display: inline-block;
}

.number.deg300 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.number.deg330 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}
/*# sourceMappingURL=clock.css.map */